<!DOCTYPE html>
<html>
<head>
  <title>Song List</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" placeholder="Song List" name="song">
  <input type="submit" value="Add Song">
</form>
</body>
</html>
